{% extends "base_menu.html" %}
{% load static %}

{% block head %}
<!-- google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">

<!-- stylesheet -->
<link rel="stylesheet" href="{% static 'weight_frontend/css/style.css' %}">
{% endblock head %}

{% block content %}

<main>
  <section id="container-description">
    <article>
      <h1>Weight tracker</h1>
      <p>This is an app that allows you to save your weight loss (or gain) progress!</p>
      <p>I built the API using Django. The front end uses Django templates and uses 
        Javascript to make API calls and Chart.JS to print the chart. Here are the last 3 data points: </p>
      <ul id="weight-container"></ul>
    </article>
  </section>

  <section id="container-try">
    <article>
      <h2>Want to track your weight?</h2>
      {% if user.is_authenticated %}
      <p>Try it <a href="{% url 'weight-frontend:weight-user' %}">here!</a></p>
      {% else %}
      <p>Try <a href="{% url 'weight-frontend:weight-user' %}">logging in</a> to track your weight!</p>
      {% endif %}
    </article>
  </section>


  <section id="container-sample">
    <article>
      <h2>Here is an example:</h2>
      <p>I've been tracking my weight for a few months now. I used an app called "WeightFit"
         on my phone which can export my data to a CSV file. I then wrote a script to add that 
         data to Django's database.  This is how it looks.</p>
      <div id="chart-container">
        <canvas id="weight-canvas"></canvas>
      </div>
      <p>I was trying to loose weight, tho :(</p>
    </article>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'weight_frontend/js/js_sample.js' %}" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js">
  </script>
</main>
<div class="filler"></div>
{% endblock content %}

{% block footer %}
<footer>
  <div>
    <h3>Contact me</h3>
    <p>victormiguelvaquero@gmail.com</p>
  </div>
  <div>
    <p>Copyright Victor M. Vaquero</p>
  </div>
</footer>
{% endblock footer %}