{% extends "base_menu.html" %}
{% block content %}
    <h1>{{ object.title }}</h1>
    <h4>{{ object.author }}</h4>
    <hr>
    <p>{{ object.content|linebreaks|urlizetrunc:30}}</p>

    <h2>Comments <i class="far fa-comments"></i></h2>
    <hr>
    {% if user.is_authenticated %}
    {% load crispy_forms_tags %}
        <form method="post" action="{% url 'bposts:posts_comment_create' object.id %}">
            {% csrf_token %}
            {{ comment_form|crispy }}
        <input type="submit" value="Submit">
        <input type="submit" value="All posts" onclick="window.location.href='{% url 'bposts:posts_list' %}';return false;">
        </form>
    {% else %}
    <h3>Please log in to comment!</h3>
    {% endif %}
    <br>

    {% for comment in comments %}
        <p><small>By: {{comment.creator}}</small></p>
        <p>{{comment.content}}</p>
        <hr>
    {% endfor %}
{% endblock content %}