* {
    box-sizing: border-box;
    font-family: ’Lato’, sans-serif;
    margin: 0; 
    padding: 0;
}
/* div element wrapping th */
.container {
    display: flex;
    flex-direction: column;
    min-height: 150vh; 
    /* background-color: antiquewhite; */
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 30px;
    justify-content: center;
}

.filler {
    flex-grow: 1;
    background-color: lightpink;
}

section {
    background-color: lightgreen;
    max-width: 300px;
}

footer {
    min-height: 150px;
}