{% extends "base_menu.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static 'todo/todo.css' %}">
<div class="pad-container">
  <div class="todo-container">

    <div class="header-bar">
      <h1>Login</h1>
    </div>

    <div class="card-body">
      <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input style="margin-bottom: 10px" class="button" type="submit" value="Login">
      </form>
      <p>Don't have an account? <a href="{% url 'todo-list:register' %}">Register</a> </p>

      <hr>
      {% get_providers as socialaccount_providers %}
      {% for provider in socialaccount_providers %}

      <div class="socialaccount_ballot">
        {% if provider.id == "github" %}
        <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
          class="btn btn-info"><i class="fab fa-github"></i> Login with GitHub</a>
        {% else %}
        <p>At the moment, I do not support social accounts log in. I'll implement it as soon as possible. Cheers! </p>
        {% endif %}
      </div>
      {% endfor %}

    </div>
  </div>
</div>


{% endblock content %}