{% extends "base_menu.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}

<h1>{% trans "Sign In" %}</h1>

<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts.{% endblocktrans %}</p>

{% get_providers as socialaccount_providers %}
{% for provider in socialaccount_providers %}

<p>At the moment, I only support {{provider.id}} as a login method.</p>

<div class="socialaccount_ballot">
  {% if provider.id == "github" %}
  <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" class="btn btn-info"><i class="fab fa-github"></i> Login with GitHub</a>
  {% else %}
  <p>At the moment, I do not support log in. I'll implement it as soon as possible. Cheers! </p>
  {% endif %}
</div>
{% endfor %}
{% endblock content %}
