{% extends "base_bootstrap.html" %}
{% block navbar %}
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ settings.APP_NAME }}</a>
    </div>
    <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
    <ul class="nav navbar-nav">
      {% url 'ads' as ads %}
      <li {% if request.get_full_path == ads %}class="active"{% endif %}>
          <a href="{% url 'home:home' %}">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            Victor
        </li>
    </ul>
  </div>
</nav>
{% endblock %}